*~
/*~
/aclocal.m4
/AUTHORS
/autom4te.cache
/autoscan.log
/*.bak
/_build
/build
/.buildconfig
/builddir
/compile
*.compiled
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
credentials.org
/data/AboutDialog.ui
data/Makefile
data/Makefile.in
/data/org.gnome.Lollypop.appdata.xml
/depcomp
/.deps
*.desktop
/.dirstamp
/flatpak/app
/.flatpak-builder
/flatpak/*.bundle
/flatpak/*.flatpak
/flatpak/.flatpak-builder
flatpak/metadata
/flatpak/repo
/GPATH
*.gresource
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/install-sh
/install.sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/.libs
/_libs
/libtool
/*.lo
/local
/lollypop-cli
/lollypop.sh
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/mkinstalldirs
/*.o
/*.orig
/po
portal/lollypop-portal
portal/Makefile
portal/Makefile.in
portal/org.gnome.Lollypop.Portal.service
*.pyc
/py-compile
/*.rej
search-provider/lollypop-sp
search-provider/Makefile
search-provider/Makefile.in
search-provider/org.gnome.Lollypop.SearchProvider.service
/so_locations
/src/Makefile
/src/Makefile.in
/src/Makefile.in
/src/*.pyc
/stamp-h1
/.*.sw[nop]
/*.tab.c
/tags
/TAGS
*.tar.xz
todo.org
*.valid
.vscode/
