* {
    outline-width: 0px;
    text-shadow: none;
}

.row-big {
    padding: 15px 15px 15px 15px;
}

.row {
    padding: 6px 5px 6px 5px;
}

.devices-button {
    padding: 2px;
    min-width: 28px;
}

flowboxchild:selected  {
    background-color: transparent;
    color: @theme_fg_color;
}

.usagebar {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.usagebar progress {
    background-color: transparent;
    background-image: none;
    border: none;
    min-height: 6px;
}

.usagebar trough {
    border: 1px solid shade(@theme_bg_color, 0.9);
    background-color: transparent;
    background-image: none;
    min-height: 6px;
}

.usagebar-green progress {
    background-color: shade(green, 1.4);
}

.usagebar-orange progress {
    background-color: orange;
}

.usagebar-red progress {
    background-color: red;
}

.red {
    color: #e73435;
}

.progressbar-button {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.progressbar-button progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    border-radius: 1px;
    min-height: 2px;
}

.progressbar-button trough {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    border-radius: 1px;
    min-height: 2px;
}

.typeahead-indicator
{
    background-color: alpha(#ed333b, 0.3);
}

.typeahead-indicator:selected
{
    background-color: #ed333b;
}

.typeahead {
    background-color: #ed333b;
    color: white;
}

.typeahead *{
    background-color: #ed333b;
    color: white;
}

.progress-bottom {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.progress-bottom progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    border-radius: 0px;
    min-height: 6px;
}

.progress-bottom trough {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: none;
    min-height: 6px;
}

.light-border {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-radius: 3px;
    padding: 10px;    
}

.light-background {
    background-color: shade(@theme_bg_color, 1.05);
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-radius: 25%;
}

.no-top-border {
    border-top: none;
}

.invisible-widget {
    background-color: @theme_bg_color;
}

.background-opacity {
    background-color: @theme_bg_color;
    opacity: 0.99;
}

.selected {
    color: @theme_selected_bg_color;
}

.osd-popover {
    opacity: 0.99;
}

.no-border {
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: alpha(@theme_fg_color, 0.8);
}

.no-border:hover {
    color: @theme_fg_color;
}

.monospace {
    font-family: Monospace;
}

.gnome-shell {
  font-family: Cantarell, Sans-Serif;
  font-size: 11pt;
}

.lyrics {
    font-weight: bold;
    min-width: 200px;
}

.text-xx-large {
    font-size: 40px;
}

.text-x-large {
    font-size: x-large;
}

.text-large {
    font-size: large;
}

.text-medium {
    font-size: medium;
}

.text-small {
    font-size: smaller;
}

.mini-scale {
    padding: 1px;
}

.youtube-scale contents trough highlight {
    background-color: #e73435;  
    border-color: #e73435;
}

.borders {
    border: 1px solid shade(@theme_bg_color, 0.7);
    padding: 10px;
    border-radius: 4px;
}

.borders-left-top {
    border-top: 1px solid shade(@theme_bg_color, 0.7);
    border-left: 1px solid shade(@theme_bg_color, 0.7);
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.rounded {
    border-radius: 50%;
}

.black-transparent {
    background-color: alpha(black, 0.5);
    color: white;
}

.up-btn {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 0px;
	min-width: 48px;
}

.cover-frame {
    border: 1px solid shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.5);
    padding: 3px;
    border-radius: 2px;
}

.cover-frame:selected {
    padding: 0px;
    border: 4px solid @theme_selected_bg_color;
}

.small-cover-frame {
    border-radius: 1px;
    border: 1px solid shade(@theme_bg_color, 0.90);
    background-color: shade(@theme_bg_color, 1.5);
    color: @theme_fg_color;
}

.artwork-icon {
    border: 1px solid alpha(@theme_fg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.5);
    color: alpha(@theme_fg_color, 0.8);
    padding: 5px;
    border-radius: 50%;
}

.artwork-icon-large {
    border: 10px solid alpha(@theme_fg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.5);
    color: alpha(@theme_fg_color, 0.8);
    border-radius: 50%;
}

.big-padding {
    padding: 10px;
}

.padding {
    padding: 5px;
}

.small-padding {
    padding: 1px;
}

.no-padding {
    padding: 0px;
    min-width: 0px;
    min-height: 0px;
}

.no-border {
    border: none;
    background-image: none;
}

.queued {
    border-radius: 5px;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

.drag-down {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (@theme_bg_color),
                                     color-stop (0.9, @theme_bg_color),
                                     to (@theme_selected_bg_color));
}

.drag-up {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (@theme_selected_bg_color),
                                     color-stop (0.1, @theme_bg_color),
                                     to (@theme_bg_color));
}

.left-gradient {
    background-image: linear-gradient(0.25turn, transparent, alpha(black, 0.2) 20px, alpha(black, 0.4) 40px);
    background-color: transparent;
    opacity: 0;
}

.left-gradient:selected
{
    opacity: 1;
}

.trackswidget {
	background-color: transparent;
}

.albumrow {
    padding: 0px;
    border-radius: 5px;
    box-shadow: none;
	background-color: transparent;
  	color: inherit;
}

.albumrow-collapsed:hover {
	background-color: alpha(@theme_fg_color, 0.05);
  	color: inherit;
}

.albumrow .album-menu-button {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

.albumrow:hover .album-menu-button {
  	color: inherit;	
}

.albumrow:selected {
    border-radius: 0px;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.albumrow:visited {
    color: @theme_fg_color;
    background-color: alpha(@theme_selected_bg_color, 0.1);
}
.albumrow:visited label {
    color: @theme_fg_color;
}

.albumrow:checked {
	background-color: alpha(@theme_fg_color, 0.05);
    color: @theme_fg_color;
}

.bold {
    font-weight: bold;
}

.light-button {
	box-shadow: none;
	border-radius: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	min-height: 48px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.light-button label {
    opacity: 0.9;
}

.light-button:hover {
    background-color: shade(@theme_bg_color, 0.95);
    border-color: shade(@theme_bg_color, 0.8);
}

.light-button:hover label {
    opacity: 1;
}

.light-button:visited {
    background-color: shade(@theme_bg_color, 0.95);
    border-color: shade(@theme_bg_color, 0.8);
}

.adaptive-menu modelbutton.flat {
    min-height: 40px;
}

.adaptive-menu modelbutton.flat:hover {
    background-color: alpha(@theme_fg_color, 0.05);
}

.trackrow {
    padding: 2px;
    min-height: 40px;
    box-shadow: none;
	background-color: transparent;
  	color: inherit;
}

.trackrow:hover {
    border-radius: 5px;
	background-color: alpha(@theme_fg_color, 0.05);
  	color: inherit;
}

.trackrow:selected {
    border-radius: 0px;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.trackrow:visited {
    border-radius: 5px;
	background-color: alpha(@theme_fg_color, 0.07);
    color: @theme_fg_color;
}

.trackrow:checked {
    border-radius: 5px;
	background-color: alpha(@theme_fg_color, 0.05);
    color: @theme_fg_color;
}


.default-banner {
    border-bottom-width: 1px;
    border-color: alpha(@theme_fg_color, 0.2);
    border-style: solid;
    color: white;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

}

.menu-button-48 {
    opacity: 0.8;
	box-shadow: none;
	min-height: 32px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}


.menu-button-48:disabled {
    opacity: 0.5;
}

.menu-button-48:hover {
    color: inherit;
    border-color: alpha(@theme_fg_color, 0.1);
  	opacity: 1;
}

.menu-button {
    opacity: 0.8;
	box-shadow: none;
	min-height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}

.menu-button:disabled {
    opacity: 0.5;
}

.menu-button:hover {
    color: inherit;
    border-color: alpha(@theme_fg_color, 0.1);
  	opacity: 1;
}

.vertical-menu-button {
    opacity: 0.9;
	box-shadow: none;
	min-height: 24px;
	min-width: 24px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}

.vertical-menu-button:disabled {
    opacity: 0.4;
}

.vertical-menu-button:hover {
    color: inherit;
    border-color: alpha(@theme_fg_color, 0.1);
  	opacity: 1;
}

.image-reveal {
  -gtk-icon-transform: rotate(90deg);
}

@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

.image-rotate {
  animation-name: spin;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.image-rotate-fast {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.opacity-transition {
    transition: opacity 1000ms linear;
    opacity: 0;
}

.opacity-transition:visited {
  opacity: 1;
}

.opacity-transition-fast {
    transition: opacity 200ms linear;
    opacity: 0;
}

.opacity-transition-fast:visited {
  opacity: 1;
}
